body {
    font-family: "Merriweather", serif;
    margin: 0;
}

*:lang(ja) {
    font-family: 'Noto Serif JP', serif;
}


#ie11-cover {
    background-color: aliceblue;
    transform: scale(0);
    -ms-transform: scale(1);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
}

#nojs-cover {
    animation: slowShow 0.5s normal forwards ease-in-out;
    animation-delay: 2s;
    background-color: rgb(253, 213, 220);
    border: 2px solid pink;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    left: 50%;
    opacity:0;
    top: 2rem;
    transform: translatex(-50%);
    z-index: 99;
}

/*--------------CREDITS---------------*/
body:not(.showCredits) #credits-popup {
    display: none;
}

.credits, #disclaimer {
    color: white;
}

.credits p {
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
}

.maybe-columns {
    columns: 1;
}

/* medium */
@media (min-width: 700px) {
    .maybe-columns{
        columns: 2;
    }
}
/* lrg */
@media (min-width: 1000px) {
    .maybe-columns {
        columns: 3;
    }
}
/*--------------BG---------------*/
#content {
    height: 100vh;
    width: 100%;
}

.FULLSCRN {
    background: url(sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}
/* so when you open the scrollable modals the girls and stars don't move left */
body.showCredits .FULLSCRN,
body.showMessages .FULLSCRN {
    width: calc(100% + 16px);
}

#nplb {
    background: url(nplb.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    filter: brightness(1.2);
    height: 100%;
    left:50%;
    max-height: 25vh;
    max-width: 67vh;
    position: absolute;
    transform: translateX(-50%);
    transition: filter 0.2s ease-out;
    width: 100vh;
    z-index: 1;
}

#sky > div:not(:first-child) {
    transform: translate(-50%, -25%);
}

.firework-red {
    filter: hue-rotate(45deg);
}

.firework-orange {
    filter: hue-rotate(90deg);
}

.firework-yellow {
    filter: hue-rotate(125deg);
}

.firework-green {
    filter: hue-rotate(-180deg);
}

.firework-aqua {
    filter: hue-rotate(-90deg);
}

.firework-blue {
    filter: hue-rotate(-45deg);
}

.firework-purp {
    filter: hue-rotate(0deg);
}

.firework {
    animation: firework 2s normal forwards linear;
    animation-delay: 1s;
    background: url(p.png);
    background-repeat: no-repeat;
    background-size: contain;
    height:200px;
    opacity: 0;
    transform: scale(0.0);
    width:200px;
}

.uchiage {
    animation: uchiage 1s ease-out;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.sparkle,
.sparkle1,
.sparkle2 {
    animation: sparkle 0.25s linear infinite;
    background: url(uchiage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height:40px;
    width:40px;
    opacity: 0;
}

.sparkle1 {
    animation-delay: 0.08s;
}
.sparkle2 {
    animation-delay: 0.15s;
}

@keyframes uchiage {
    0% {
      transform: translateY(300px);
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      transform: translateY(-100px);
      opacity: 0.2;
    }
  }

  @keyframes sparkle {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

@keyframes firework {
    0% {
      filter: brightness(0.5);
      transform: scale(0.0);
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    40% {
      filter: brightness(1.5);
      transform: scale(1.8);
    }
    70% {
      background: url(pglow.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
    90% {
      filter: brightness(1.5);
      opacity: 1;
    }
    100% {
      background: url(pglow.png);
      background-repeat: no-repeat;
      background-size: contain;
      filter: brightness(1);
      transform: scale(3);
      opacity: 0;
    }
  }

  .fireworkwithcolorchange {
    animation: fireworkwithcolorchange 2s normal forwards linear;
    animation-delay: 1s;
    background: url(p.png);
    background-repeat: no-repeat;
    background-size: contain;
    height:150px;
    opacity: 0;
    transform: scale(0.0);
    width:150px;
}

  @keyframes fireworkwithcolorchange {
      0% {
        filter: brightness(0.5) hue-rotate(0deg);
        transform: scale(0.0);
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      40% {
        filter: brightness(1.5) hue-rotate(0deg);
        transform: scale(1.8);
      }
      70% {
        background: url(pglow.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
      90% {
        filter: brightness(1.5) hue-rotate(90deg);
        opacity: 1;
      }
      100% {
        background: url(pglow.png);
        background-repeat: no-repeat;
        background-size: contain;
        filter: brightness(1) hue-rotate(90deg);
        transform: scale(3);
        opacity: 0;
      }
    }

/*--------------BUTTONS---------------*/
.button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 1;
}

.button-container > *{
    margin-bottom: 8px;
}

.btn {
    border: 2px outset #66cdaa;
    border-radius: 10px;
    background-color: #fff;
    color: #66cdaa;
    cursor: pointer;
    font-family: arial;
    font-weight: 600;
    height: 40px;
    width: 76px;
}

.btn:active {
    border: 2px solid #6699aa;
    background-color: #eee;
    color: #6699aa;
}

.close-button {
    background: rgb(255,120,160);
    border: 2px outset gold;
    border-radius: 1rem;
    color: rgb(130,0,0);
    cursor: pointer;
    height:40px;
    position: fixed;
    font-family: arial;
    font-size: 2.1rem;
    right: 20px;
    top: 30px;
    text-align: center;
    width: 48px;
    vertical-align: center;
    z-index: 999999;
}

.close-button:active {
    border-color: goldenrod;
    border-style: solid;
}

.messages-btn {
    border: none;
    background: transparent;
}

.btn:active, .close-button:active {
    transform: translateY(1px);
}

.btn-icon {
    cursor: pointer;
    max-width: 56px;
}

.btn-icon:hover {
    filter:brightness(1.5);
}

.btn-icon:active {
    filter:brightness(0.75);
    transform: translateY(2px);
}

/*--------------MESSAGES---------------*/
body:not(.showMessages) #messages-popup {
    display: none;
}

.popup {
    background: rgba(0,0,0,0.4);
    border: 1px solid gold;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
    position: absolute;
    user-select: none;
    width:100%;
    z-index: 2;
}

.postcard, .picturecard {
    box-shadow: 5px 8px 20px -5px rgba(10, 10, 10, 0.75);
    background-color: white;
    break-inside: avoid;
    color: rgb(20,20,20);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 3.7rem;
    padding: 10px;
}

.border {
    border: 3px solid steelblue;
    padding: 2px;
}

.border-thin {
    border: 1px solid silver;
    padding: 5px;
}

.messages p {
    white-space: pre-wrap;
}

.messages > div {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}

.messages p {
    font-family: 'Noto Serif JP', serif;
    font-size: 1rem;
}

.messages > div + div[lang="ja"] {
    border-top: 2px solid #ddd;
}

.postcard-header, .picturecard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picturecard {
    cursor: pointer;
    position: relative;
}
.picturecard-header {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(47,47,47,0.75) 31%, rgba(48,48,48,0.75) 100%);
    color: white;
    padding-bottom: 15px;
    position: absolute;
    width:calc(100% - 20px);
}

.picturecard img {
    width:100%;
}

.user-info {
    align-items: baseline;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-left: 1rem;
    max-width: calc(80% - 1rem);
}

.user-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 0.3rem;
    text-overflow: ellipsis;
}

.user-twitter {
    color: #6c757d;
    font-size: 0.9rem;
    font-style: italic;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.stamp-outer {
    background-image: url(https://nepolabo.fans/lamy/dist/img/stamp_border.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 72px;
    position: relative;
    width: 90px;
}

.stamp-inner {
    overflow: hidden;
    position: relative;
    top: 6px;
    left: 7px;
    bottom: 26px;
    right: 6px;
    width: 86%;
    height: 80%;
    background-color: lightblue;
}

.stamp-inner[data-code="us"],
.stamp-inner[data-code="it"]{
    background-color: cornflowerblue;
}

.stamp-inner[data-code="jp"]{
    background-color: darkseagreen;
}

.stamp-inner[data-code="id"]{
    background-color: lightseagreen;
}

.stamp-inner[data-code="in"],
.stamp-inner[data-code="br"]{
    background-color: yellowgreen;
}

.stamp-inner[data-code="cn"]{
    background-color: steelblue;
}

.stamp-inner[data-code="sa"],
.stamp-inner[data-code="ca"]{
    background-color: burlywood;
}

.stamp-inner[data-code="ca"] .stamp-amt {
    font-size: 1rem;
}

.stamp-inner[data-code="ca"] .stamp-amt::before{
    content: "P";
    color: burlywood;
    font-family: auto;
    position: absolute;
    left: 4px;
    top: 3px;
}

.stamp-inner[data-code="ar"],
.stamp-inner[data-code="de"],
.stamp-inner[data-code="au"]{
    background-color: silver;
}

.stamp-inner[data-code="kz"],
.stamp-inner[data-code="nz"]{
    background-color: lavender;
}

.stamp-inner[data-code="gb"],
.stamp-inner[data-code="tw"]{
    background-color: plum;
}

.stamp-inner[data-code="mx"],
.stamp-inner[data-code="ph"]{
    background-color: goldenrod;
}

.stamp-inner[data-code="th"] {
    background-color: palevioletred;
}

.stamp-inner[data-code="sg"]{
    background-color: cadetblue;
}

.stamp-inner[data-code="hk"],
.stamp-inner[data-code="vn"]{
    background-color: lightgrey;
}


.stamp-amt {
    font-family: "Merriweather";
    font-size: 0.7rem;
    opacity: 0.7;
    position: absolute;
    right: 3px;
    top: 0;
    z-index: 20;
}

.stamp-deco {
    background-image: url(https://nepolabo.fans/lamy/dist/img/heart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
}

.stamp-inner[data-code] .stamp-deco {
    background-image: url(https://nepolabo.fans/lamy/dist/img/sak.png);
    background-position: left;
    bottom: 6px;
    right: -10px;
    width: 3rem;
    height: 2.5rem;
}

section.postcards:nth-child(even) .stamp-inner[data-code="jp"] .stamp-deco {
    background-image: url(https://nepolabo.fans/lamy/dist/img/chrys.png);
}

.stamp-inner[data-code="us"] .stamp-deco,
.stamp-inner[data-code="ca"] .stamp-deco,
.stamp-inner[data-code="au"] .stamp-deco,
.stamp-inner[data-code="nz"] .stamp-deco,
.stamp-inner[data-code="de"] .stamp-deco,
.stamp-inner[data-code="fr"] .stamp-deco,
.stamp-inner[data-code="gb"] .stamp-deco {
    background-image: url(https://nepolabo.fans/lamy/dist/img/rose.png);
}

.stamp-inner[data-code="ph"] .stamp-deco,
.stamp-inner[data-code="my"] .stamp-deco {
    background-image: url(https://nepolabo.fans/lamy/dist/img/hib2.png);
}

.stamp-inner[data-code="id"] .stamp-deco,
.stamp-inner[data-code="tw"] .stamp-deco {
    background-image: url(https://nepolabo.fans/lamy/dist/img/hib1.png);
}

.stamp-inner[data-code="sg"] .stamp-deco,
.stamp-inner[data-code="th"] .stamp-deco,
.stamp-inner[data-code="vn"] .stamp-deco  {
    background-image: url(https://nepolabo.fans/lamy/dist/img/gerb.png);
}

.stamp-inner[data-code="in"] .stamp-deco,
.stamp-inner[data-code="kr"] .stamp-deco,
.stamp-inner[data-code="br"] .stamp-deco {
    background-image: url(https://nepolabo.fans/lamy/dist/img/cos.png);
}

.stamp-inner[data-code="ar"] .stamp-deco,
.stamp-inner[data-code="es"] .stamp-deco,
.stamp-inner[data-code="it"] .stamp-deco,
.stamp-inner[data-code="mx"] .stamp-deco {
    background-image: url(https://nepolabo.fans/lamy/dist/img/sun.png);
}

.stamp-inner[data-code="dk"] .stamp-deco,
.stamp-inner[data-code="fi"] .stamp-deco,
.stamp-inner[data-code="ru"] .stamp-deco {
    background-image: url(https://nepolabo.fans/lamy/dist/img/flake.png);
}

.country-name {
    bottom: -12px;
    color: rgba(30,30,30,.7);
    font-family: cursive;
    font-size: 0.7rem;
    font-weight: 900;
    height: 30px;
    margin-left: 4px;
    position: absolute;
    z-index: 9999;
}

.flag-icon {
    font-size: 2rem;
    margin: 4px;
    box-shadow: 0 0 3px rgb(100 100 100);
}

.msg-art {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

@media (min-width: 450px) {
    section.postcards {
        column-count: 1;
    }
}

/* medium */
@media (min-width: 750px) {
    section.postcards {
        column-count: 2;
    }
    .messages p {
        font-family: 'Noto Serif JP', serif;
        font-size: 1.15rem;
    }
    .user-name {
        font-size: 1.25rem;
    }
    .user-twitter {
        font-size: 0.95rem;
    }
}

@media (min-width: 1200px) {
    section.postcards {
         column-count: 3;
     }
     .messages p {
         font-family: 'Noto Serif JP', serif;
         font-size: 1.25rem;
     }
     .user-name {
         font-size: 1.5rem;
     }
     .user-twitter {
         font-size: 1rem;
     }
 }
